/* RGB */
:root {
  --main-text-color: rgba(229, 229, 229, 1);
  --main-bg-color: rgb(27, 27, 27);
  --main-accent-color: rgba(246, 189, 96, 1);
  --main-success-color: rgba(132, 165, 157, 1);
  --main-fail-color: rgba(242, 132, 130, 1);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

#container {
   position: relative;
   width: 100vw;
   height: 100%;
   overflow: hidden;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.links-container > a {
  height: 60px;
  width: 60px;
}

.message-container {
  padding-top: 20px;
}

#description {
  font-size: 2em;
  line-height: 1.45em;
  margin: 0 50px;
  /* box-shadow: 6px 12px 12px 15px rgba(0, 0, 0, 0.2); */
  font-family: 'VT323', monospace;
  text-align: justify;
}

.email-container {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.email-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); */
}

/* #submit {
  display: flex;
  width: 30px;
  height: 25px;
  background-color: var(--main-bg-color);
  border: solid var(--main-text-color);
  border-width: 0px 0px 1px 0px;
  align-items: center;
  justify-content: center;
  float: right;
  padding-right: 10px;
}

#submit i {
  color: var(--main-text-color);
  font-size: 4em;
  z-index: 2;
} */

/* input[type=email] {
  font-size: 2em;
  height: 23px;
  width: 180px;
  border: solid var(--main-text-color);
  border-width: 0px 0px 1px 0px;
  background-color: var(--main-bg-color);*/
  /* color: var(--main-accent-color);
  border-radius: 3px 0px 0px 3px; */
  /*padding-left: 10px;
} */

.mdc-floating-label {
  font-family: 'VT323', monospace; 
  font-size: 2em;
}

.icon-link {
  display: block;
}

.icon-text {
  font-family: 'VT323', monospace; 
  font-size: 2em;
  color: blue;
}

/* #email-sign { */
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100%; */
  /* height: 120px; */
  /* border-radius: 20px; */
  /* background-color: var(--main-accent-color); */
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); */
  /* padding:4px; */
  /* margin-top: 30px; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
/* } */

/* #email-sign p {
  font-size: 1.3em;
  line-height: 1.1em;
  margin: 0px 40px;
  text-align: center;
  font-weight: bold;
} */

.footer-container {
  position: fixed;
  width: 40%;
  bottom: 0;
  font-size: 1.5em;
  padding-left: 12px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a, a:hover, a:visited, a:active {
  color: blue;
}
